body {
  margin: 0;
  padding: 0;

  background-color: #333437;
}

.leftToolBar {
  background-color: #46474a;
  width: 200px;
  height: 100vh;
  font-family: sans-serif;
  float: left;
  position: fixed;
  overflow-y: auto;
  opacity: 0.7;
}

.Drag {
  width: 5px;
  border-right: 2px solid #222;
  height: 100vh;
  display: inline-block;
  float: right;
  /*padding-right: 5px;*/
  cursor: ew-resize;
}

.toolBlock {
/*border-bottom: 2px solid #333;
border-top: 2px solid #333;*/
font-size: 12px;
list-style-type: none;
background-color: #00050850;
padding: 0;
border-top: 2px solid #00000040;
border-bottom: 3px solid #00000040;
letter-spacing: 1px;

margin: 0px;

user-select: none;
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;

}

.Tool_title {
  /*border-bottom: 1px solid #666;*/
  /*border-top: 1px solid #555;*/
  color: #ccc;
  padding: 10px;
  margin: 0;
  cursor: pointer;
  padding-left: 10px;
}

.Tools h3 {
  /*border-top: 1px solid #000;*/
  color: #ccc;
  padding: 10px;
  margin: 0;
  cursor: pointer;
  padding-left: 10px;
  height: 12px;
}

.Tools h3:hover {
  /*color: #ccc;*/
  background-color: #00000030;
}

















.openTips h4 {
  z-index: 1000;
  position: fixed;
  margin: 20px 0px 0px 0px;
  background-color: #00000030;
  padding: 0px 10px;
  width: 10px;
  text-align: right;
  border-radius: 0px 15px 15px 0px;
  color: #ccccccb0;
  cursor: pointer;

  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}











.onglet {
}











.world {
  min-width: 500px;
  min-height: 500px;
  background-image: url(../src/img/grid3.png);
  display: inline-block;
  padding: 3120px;

}
