body {
  margin: 0;
  padding: 0;

  background-color: #333437;
}

.toolbars {
  background-color: #46474a;
  width: 200px;
  height: 100vh;
  font-family: sans-serif;
  float: left;
  position: fixed;
  overflow-y: auto;
  opacity: 0.7;
}

.Drag {
  border-right: 2px solid #222;
  height: 100vh;
  display: inline-block;
  float: right;
  padding-right: 5px;
  cursor: ew-resize;
}

.toolBlock {
/*border-bottom: 2px solid #333;
border-top: 2px solid #333;*/
font-size: 12px;


}

.Tool_title {
  padding-left: 10px;
  color: #ccc;
  margin: 7px;
}

.Tools h3{
  border-bottom: 1px solid #3a3a3a;
  border-top: 1px solid #555;
  color: #ccc;
  padding: 7px 30px;
  margin: 0;
  cursor: pointer;
}

.world {
  min-width: 500px;
  min-height: 500px;
  background-image: url(../src/img/grid3.png);
  display: inline-block;
  padding: 100%;

}








.Npanel_1 {
  width: 150px;
  padding: 5px 0px;
  background-color: #151519;
  color: #ccc;
  border-radius: 5px;

  /*opacity: 0.7;*/
}

.Ninput h5 {
  padding: 0px 20px;
  font-family: sans-serif;
  border-left: 3px solid #eee;
  margin: 10px 0px;
  text-align: left;
}

.Noutput h5 {
  padding: 0px 20px;
  font-family: sans-serif;
  border-right: 3px solid #eee;
  margin: 10px 0px;
  text-align: right;
}
