html {
	margin: 0;
	overflow:auto;
	border: none;
}


body {
  margin: 0;
  padding: 0;

  background-color: #333437;
}

*{
  font-family: sans-serif;
}

.leftToolBar {
  z-index: 9999;
  background-color: #46474a;
  width: 200px;
  height: 100vh;
  float: left;
  position: fixed;
  overflow-y: auto;

  /*margin-top: 33px;*/

  opacity: 0.8;
}

.Drag {
  width: 5px;
  border-right: 2px solid #ff9028;
  height: 100vh;
  margin-left: -5px;
  display: inline-block;
  float: right;
  /*padding-right: 5px;*/
  cursor: ew-resize;

}

.toolBlock {
  /*border-bottom: 2px solid #333;
  border-top: 2px solid #333;*/
  /*position: absolute;*/
  font-size: 12px;
  list-style-type: none;
  background-color: #00050850;
  padding: 0;
  border-top: 1px solid #00000040;
  border-bottom: 1px solid #00000040;
  letter-spacing: 1px;
  overflow: hidden;



  margin: 0px;

  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;

}

.Tool_title {

  color: #ccc;
  padding: 10px;
  margin: 0;
  cursor: pointer;
  padding-left: 10px;
  overflow: hidden;
}

.Tools h3 {
  /*border-top: 1px solid #000;*/
  color: #ccc;
  padding: 10px;
  margin: 0;
  cursor: pointer;
  padding-left: 10px;
  height: 12px;

}

.Tools {
  overflow: hidden;
}

.Tools h3:hover {
  /*color: #ccc;*/
  background-color: #00000030;
}

















.openTips h4 {
  z-index: 1000;
  position: fixed;
  margin: 50px 0px 0px 0px;
  background-color: #00000050;
  padding: 0px 10px;
  width: 10px;
  text-align: right;
  border-radius: 0px 15px 15px 0px;
  color: #ccccccb0;
  cursor: pointer;

  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}











.Tab {
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-left-width: 6px;
  border-right-width: 6px;
  border-top: 10px solid #ccccccb0;
  display: inline-block;
  margin-right: 7px;
  overflow: hidden;

  transition: transform ease 0.3s;
}













.FullScreen {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #f0000050;
  z-index: 999999;
}














#world {
  position: absolute;
  min-width: 500px;
  min-height: 500px;
  display: inline-block;
  background-image: url(../src/img/grid3.png);
  background-color: #272829;
  /*padding: 0px 1020px 1020px 0px;*/
  padding: 2000px;

  z-index: -1000000;
}
