.Npanel_1 {

  position: absolute;
  min-width: 170px;
  /*max-width: 500px;*/
  padding: 0px 0px 1px 0px;
  background-color: #151519;
  color: #ccc;
  border-radius: 10px;
  border: 1px solid #18181f;
  box-shadow: 0px 0px 15px -5px #000;


  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;


  /*opacity: 0.7;*/
}



.Ninput h5 {
  padding: 0px 10px;
  font-family: sans-serif;
  /*border-left: 3px solid #69b;*/
  margin: 10px 0px;
  text-align: left;
  user-select: none;
}
/*
.Ninput h5:hover {
  color: #f00;
}
*/
.Noutput h5{

  padding: 0px 10px;
  font-family: sans-serif;
  margin: 10px 0px;
  /*border-right: 3px solid #9b6;*/
  text-align: right;
  user-select: none;
}






.nodeTitle {
  font-family: sans-serif;
  border-radius: 9px 9px 0px 0px;
  padding: 10px 0px;
  text-align: center;
  background-color: #222427;
  margin: 0;

  cursor: move;
}

/* ===== node ===== */


.input {
  width: 7px;
  height: 7px;
  margin: 3px 5px 0px -3px;
  border-radius: 50%;
  background-color: #69b;
  float: left;
}

.output {
  width: 7px;
  height: 7px;
  margin: -22px -3px 0px 0px;
  border-radius: 50%;
  background-color: #9b6;
  float: right;
}

.path {
  position: absolute;
  stroke-width: 2px;
  stroke: #a54;
  fill: transparent;

}

.svg {
    position: absolute;
  height: auto;
  width: auto;
}


.Npanel_1 textarea {
  min-width: 170px;
  max-width: 800px;
  min-height: 50px;
  max-height: 800px;
  padding: 5px;
  margin: 0;
  border: 0;
  background-color: #ddd;
}









.color_box {
  cursor: pointer;
  margin: 10px 0px 10px 10px;
  width: 36px;
  height: 15px;
  border-radius: 5px;
  background-color: #00f;
  z-index: 100;
}




.color_main {
  cursor: default;
  padding: 10px;
  background-color: #151519;
  border-radius: 5px;
  position: absolute;
  margin: 15px 0;
}

.color_chroma {
  width: 256px;
  height: 256px;
  background-image: linear-gradient(to left, #f00, #ff0, #0f0, #0ff, #00f, #f00);
}

.color_bright {
  position: absolute;
  top: 10px;
  cursor: crosshair;
  width: 256px;
  height: 256px;
  background-image: linear-gradient( #fff,#0000, #000);
}


.color_alpha {
  width: 256px;
  height: 20px;
  background-image: linear-gradient( to left, #777, #00f);
}


/*
.color_r {
margin-top: 10px;
}

.line {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  width: 256px;
  height: 0;
}

.tocken {

  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  width: 0px;
  height: 10px;
  margin-top: -5px;
}
*/


.color_input {
width: auto;
display: inline-block;
margin-right: 30px;
}

.color_input div {
  padding-top: 5px;
  width: 60px;

}

.color_input div h5 {
  opacity: 0.5;
  text-align: left;
  width: auto;
  display: inline;
  padding: 0;
  margin: 0 10px 0 0;
}

.color_input div input {
  width: 25px;
  background-color: #252529;
  color: #ccc;
  border: 0;
  padding: 3px 5px;
}
